/* ------------------------------------------------------------------------- 
SUMMARY 
------------------------------------------------------------------------- 0. Colors

/


/* ------------------------------------------------------------------------ 
0. Colors
------------------------------------------------------------------------- */

$border-color: #eee;
$background-color: #333;
$button-color: #2980b9;
$button-text-color : white;
$light-color : #ddd;