/* ------------------------------------------------------------------------- 
0. GENERAL
------------------------------------------------------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    @include flex;

    min-height: 100vh;
}