/* -------------------------------------------------------------------------
SUMMARY 
-------------------------------------------------------------------------0.0. font family
1. Components
/

/* ------------------------------------------------------------------------ 
0. Font family
------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

/* ------------------------------------------------------------------------ 
1. Components
------------------------------------------------------------------------- */

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

h2 {
    font-weight: 300;
}

button {
    font-weight: bold;
    color: $button-text-color;
}

input, li {
    color: $text-color;
}

strong {
    font-weight: 700;
}